@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: rgb(30, 30, 32);
  font-family: 'Open Sans', sans-serif;
}

/*Utility classes */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

.notFound_title {
  font-size: 45px;
  color: #dfdfd8;
  margin-bottom: 20px;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.App {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

/*Header classes */
.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #000000;
  background-color: #1e1e20;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 11111111;
}
@media (max-width: 992px) {
  .header {
    padding: 60px 0;
  }
}

/*Nav classes */
.nav {
  width: 100%;
  display: flex;
}

@media (max-width: 992px) {
  .nav {
    flex-direction: column-reverse;
  }
}

.nav_links {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 992px) {
  .nav_links {
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
}

.nav_link {
  font-size: 1.5rem;
  color: rgb(223, 224, 216);
  list-style: none;
  text-decoration: none;
  position: relative;
}
.nav_link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: rgb(99, 109, 255);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav_link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*Input classes */
.input {
  background-color: rgb(22, 22, 24);
  border-radius: 5px;
  border: 1px solid rgb(22, 22, 24);
  color: rgb(150, 150, 156);
  outline: none;
  font-family: inherit;
  font-size: inherit;
}
.input:where(:hover, :focus-visible) {
  border: 1px solid rgb(99, 109, 255);
  color: rgb(207, 201, 201);
}

/*Search input classes */
.search_input {
  flex: 0 0 500px;
  padding: 12px 15px;
}
@media (max-width: 992px) {
  .search_input {
    flex: 1 1 auto;
  }
}
.search_input::placeholder {
  color: rgb(150, 150, 156);
  opacity: 1;
}
.search_input:focus-visible::placeholder {
  color: rgb(223, 224, 216);
  opacity: 1;
}
.search_input:hover::placeholder {
  color: rgb(223, 224, 216);
  opacity: 1;
}

/*Main classes */
.main {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
.main_title {
  color: #dfdfd8;
  margin-bottom: 20px;
}

/* Post classes*/
.post {
  width: 100%;
  background-color: #252529;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  border: 2px solid #252529;
}

.post_title {
  color: #dfdfd8;
  margin-bottom: 20px;
}
.post_text {
  color: #99999f;
  margin-bottom: 20px;
}
.post_link {
  text-decoration: none;
}

.about_text {
  color: #99999f;
}

/* Form classes*/
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form_title {
  color: #dfdfd8;
  font-size: 20px;
  margin-bottom: 20px;
}
.title_input {
  padding: 10px 20px;
}
.form_text {
  color: #dfdfd8;
  font-size: 20px;
  margin: 20px 0;
}
.text_input {
  padding: 10px 20px;
  height: 40vh;
  resize: none;
  margin-bottom: 20px;
}

/*Footer classes*/
.footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid #000000;
  color: rgb(153, 153, 159);
  display: grid;
  place-content: center;
}
/*Buttons classes*/
.btn {
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
}
.add {
  color: aliceblue;
  background-color: #636dff;
  border: 2px solid #636dff;
  outline: none;
}
.add:where(:hover, :focus-visible) {
  background-color: #6973fe;
}
.delete {
  color: aliceblue;
  background-color: #9d2559;
  color: rgb(223, 224, 216);
  border: 2px solid #9d2559;
  outline: none;
  margin-right: 20px;
}
.delete:where(:hover, :focus-visible) {
  background-color: #9b3662;
}
.edit {
  color: aliceblue;
  background-color: #636dff;
  border: 2px solid #636dff;
  outline: none;
}
.edit:where(:hover, :focus-visible) {
  background-color: #6973fe;
}
.border:where(:hover, :focus-visible) {
  border: 2px solid #8db6e8;
}
.notFound_btn {
  color: #67676c;
  background-color: transparent;
  border: 2px solid #67676c;
}
.notFound_btn:where(:hover, :focus-visible) {
  color: #9b3662;
  border: 2px solid #9b3662;
}
